// Place all the styles related to the memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.memos-form {
  display: flex;
  flex-direction: column;
  &__title {
    width: 500px;
    height: 30px;
    padding: 0 10px;
    margin: 10px 0;
  }
  
  &__submit {
    display: block;
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: #238cfd;
  }
}