// Place all the styles related to the memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.memos-form {
  &__titles{
    display: flex;
    flex-direction: column;
    .memos-form__title {
      width: 500px;
      height: 30px;
      padding: 0 10px;
      margin: 10px 0;
    }
  }
  
  .add-memo-form-btn {
    display: block;
    font-size: 10px;
    width: 200px;
    height: 30px;
    padding: 10px;
    text-align: center;
    background-color: #f8d55a;
    margin-bottom: 10px;
  }

  &__submit {
    display: block;
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: #238cfd;
  }
}